/**
 * A Sync Template 2.0
 * Author: FiNeX
 * Website: www.finex.org
 *
 * Thanks to:
 * - http://www.themes-drupal.org
 * - http://www.siti-drupal.it
 * - http://www.realizzazione-siti-vicenza.com
 */


/**
 * Basic style
 * -------------------------------------------------------------------------- */

body{
  background:#f7f7f7;
  color:#2F414F;
  font-family:Helvetica, Arial, sans-serif;
  font-size:12px;
  line-height:1.5;
  margin:0;
  padding:0;
}


/**
 * Headings
 * -------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: Helvetica, Arial, sans-serif;
  font-style:normal;
  font-weight:normal;
}

#content h2,
#content h3,
#content h4,
#content h5,
#content h6{color:#5189b7}

h1, .h1{
  font-weight:bold;
  font-size:2em;
  line-height:1.5;
}

h1#page-title{
  border-radius:20px;
  color:#fff;
  padding:10px 20px;
  margin-bottom:10px;
}

h2, .h2{
  font-size:1.75em;
  line-height:1;
  margin-top:1em;
  font-weight:bold;
}

h2.block-title{margin:0 0 10px 0}

h3, .h3{
  font-weight:bold;
  font-size:1.6em;
  line-height:1.2;
  margin-top:1.2em;
}

h4, h5, h6, .h4, .h5, .h6{
  font-size:1.4em;
  font-weight:bold;
  line-height:1.5;
  margin-top:1.5em;
}

h5, .h5{
  font-size:1.2em;
  font-weight:bold;
  line-height:1.5;
  margin-top:1.5em;
}

h6, .h6{
  font-size:1.1em;
  font-weight:bold;
  line-height:1.5;
  margin-top:1.5em;
}

aside h2.block-title{color:#fff}


/**
 * Links
 * -------------------------------------------------------------------------- */

a{color:#069; text-decoration:none}

a:visited{color:#309}

a:hover, a:active, li a.active {color:#39f}

a:focus{outline:thin dotted}

a:hover, a:active{outline:0}

a:hover{text-decoration: underline}

#content a{
  color:#e7861d
}

aside .block a{
  color:#fff
}


/**
 * Typography
 * -------------------------------------------------------------------------- */

p{
  font-size:1em;
  line-height:1.5;
  margin:0 0 1.5em 0;
}

li ul, li ol{margin:0}
ul, ol{margin:0 1.5em 1.5em 0;  padding-left:1.5em}
ul{list-style-type:disc}
ol{list-style-type:decimal}
dl{margin:0 0 1.5em 0}
dl dt{font-weight:bold}
dd{margin-left:1.5em}
hr{background:#666;  border:none;  clear:both;  float:none;  height:1px;  margin:0 0 1.4375em;  width:100%}
fieldset{border:1px solid #ccc;  margin:0 0 1.4375em;  padding:1.5em}
table{margin-bottom:1.5em;  width:100%}
th, tr, td{vertical-align:middle}
th{padding-right:1em}
.sticky-header th, .sticky-table th{border-bottom:3px solid #ccc;  padding-right:1em;  text-align:left}

/* Thanks to boilerplate */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

blockquote {
  background-image: url(../images/blockquote.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  color: #A9A9A9;
  font-size: 1.5em;
  line-height: 1.3em;
  margin:0 0 1.5em 0;
  padding-left: 2em;
}

pre{
  padding:10px;
  border:1px solid #ccc;
  background:#eee;
  margin:0 0 1.5em 0;
}

fieldset.collapsed{
  padding-bottom:0;
  margin-bottom:0
}


/**
 * Container
 * -------------------------------------------------------------------------- */

#container{}


/**
 * Content
 * -------------------------------------------------------------------------- */

#content{
  background-color:#fff;
  border-radius:20px;
  padding:20px;
  margin-bottom:40px;
}


/**
 * Header top
 * -------------------------------------------------------------------------- */

#header-top{text-align:center;font-size:10px}
#header-top p{margin:0;line-height:20px}
#header-top .block{margin:0}


/**
 * Header
 * -------------------------------------------------------------------------- */

#header{}

#header .block{margin-bottom:10px}

#header #logo{
  padding:5px;
}

#header #site-name-slogan{
  float:left;
  margin:15px 0 0 0;
}

#header #site-name{
  font-family:Arial, Helvetica, sans-serif;
  font-size:2.5em;
  font-weight:700;
  line-height:1.2;
  margin:0;
}

#header #site-name a:hover{text-decoration:none}

#header #site-slogan{margin:0}


/**
 * Header first
 */

#header-first{
  border-top:4px solid #276395;
  overflow:hidden;
  color:#fff;
  margin-bottom:10px;
}

#header-first a{color:#fff}


/**
 * Preface
 * -------------------------------------------------------------------------- */

#preface{margin-bottom:10px}

.preface{
  border-radius:0 20px 0 20px;
  color:#fff
}
.preface-content{padding:20px}


/**
 * Postscript
 * -------------------------------------------------------------------------- */

.region-postscript .block{
  background-color:#fff;
  border-radius:20px;
  padding:20px
}


/**
 * Navigation
 * -------------------------------------------------------------------------- */

/**
 * Navigation main menu bar
 */

#navigation{
  clear:both;
  margin-bottom:10px;
  padding:20px;
  border-radius:0 20px 0 20px;
}

#navigation ul#main-menu{
  clear:both;
  list-style:none;
  margin:0;
  padding:0;
}

#navigation ul#main-menu li{
  float:left;
  margin:0;
  padding:0;
}

#navigation ul#main-menu li a{
  display:block;
  padding:0 2em 0 0;
  color:#fff;
  font-size:18px;
}

/**
 * Navigation secondary menu top right
 */

#navigation-secondary ul#secondary-menu{
  clear:both;
  list-style:none;
  margin:0;
  padding:0 5px 0 0;
  text-align:right
}

#navigation-secondary ul#secondary-menu li{
  margin:0;
  padding:0;
  list-style:none;
  list-style-type:none;
  border-bottom:1px dashed white;
}
#navigation-secondary ul#secondary-menu li.last{
  margin-bottom:5px
}

#navigation-secondary ul#secondary-menu li a{
  display:block;
  padding:2px 0;
  font-size:10px;
}

/**
 * main menu block
 */

#block-system-main-menu ul.menu{
  clear:both;
  list-style:none;
  margin:0;
  padding:0;
}

#block-system-main-menu ul.menu li{
  display:block;
  margin:0;
  padding:10px 0;
  border-bottom:1px dashed white
}

#block-system-main-menu ul.menu li a{
  display:block;
  padding:0 2em 0 0;
  color:#fff;
  font-size:18px;
}


/**
 * Breadcrumb
 * -------------------------------------------------------------------------- */

.breadcrumb{
  clear:both;
  padding:10px 0;
  font-size:11px;
}


/**
 * Menus and item lists
 * -------------------------------------------------------------------------- */

.item-list ul{
  margin:0;
  padding:0 0 0 1.5em;
}

.item-list ul li{
  margin:0;
  padding:0;
}

ul.menu li{
  margin:0;
  padding:0;
}

ul.inline{
  clear:both;
}

ul.inline li{
  margin:0;
  padding:0 1em 0 0;
}

#content ul{list-style-image: url(../images/bullet.png)}


/**
 * Admin tabs
 * -------------------------------------------------------------------------- */

.tabs-wrapper{
  border-bottom:1px solid #333;
  margin:0 0 1.4375em;
}

ul.primary{
  border:none;
  margin:0;
  padding:0;
}

ul.primary li a{
  background:none;
  border:none;
  display:block;
  float:left;
  line-height:1.5em;
  margin:0;
  padding:0 1em;
}

ul.primary li a:hover, ul.primary li a.active{
  background:#666;
  border:none;
  color:#fff;
}

ul.primary li a:hover{
  background:#888;
  text-decoration:none;
}

ul.secondary{
  background:#666;
  border-bottom:none;
  clear:both;
  margin:0;
  padding:0;
}

ul.secondary li{
  border-right:none;
}

ul.secondary li a, ul.secondary li a:link{
  border:none;
  color:#ccc;
  display:block;
  float:left;
  line-height:1.5em;
  padding:0 1em;
}

ul.secondary li a:hover, ul.secondary li a.active{
  background:#888;
  color:#fff;
  text-decoration:none;
}

ul.secondary a.active{
  border-bottom:none;
}


/**
 * Nodes
 * -------------------------------------------------------------------------- */

.node{
  margin-bottom:1.5em;
}

/** tags */

.field-name-field-tags{
  margin:0 0 1.5em;
}

.field-name-field-tags .field-item{
  margin:0 1em 0 0;
}

.field-name-field-tags div{
  display:inline;
}

/* profile */

.profile{
  margin:1.5em 0;
}

.profile h3{
  border:none;
}

.profile dt{
  margin-bottom:0;
}

.profile dd{
  margin-bottom:1.5em;
}

.password-parent{
  width:36em;
}


/**
 * Comments
 * -------------------------------------------------------------------------- */

#comments{
  clear:both;
  margin-top:1.5em;
}

.comment{
  margin-bottom:1.5em;
}

.comment .new{
  color:red;
  text-transform:capitalize;
  margin-left:1em;
}


/**
 * Blocks
 * -------------------------------------------------------------------------- */

.block{
  margin-bottom:1.5em;
}

aside .block{
  padding:20px;
  border-radius:20px 0 20px 0;
}

aside .noborder{
  padding:0!important;
  border-radius:0!important;
  background:none!important;
}

/* aside table */
aside tr.even,
aside tr.odd{
  background:none;
  border-color:#3C89C9
}

/* search block form */
#search-block-form input.form-text{
  width:110px;
  margin:0;
  padding:5px;
  border:1px solid #3C89C9
}

#search-block-form input.form-submit{
  cursor:pointer;
  width:60px;
  margin:0;
  padding:5px;
  border:1px solid #3C89C9;
  font-size:11px
}


/**
 * Footer
 * -------------------------------------------------------------------------- */

#footer{
  clear:both;
  margin-bottom:10px;
  border-radius:20px;
}

#footer .region-footer{
  padding:20px;
  color:#fff
}

#footer p{
  margin-bottom:0
}

#footer a.feed-icon{
  position:absolute;
  right:0;
  top:1.5em;
}

#footer .block{margin-bottom:0}

.region-footer-bottom{margin:30px 0 50px 0;font-size:11px}

#credits{font-size:9px;text-align:right;color:#aaa}
#credits a{color:#999}


/**
 * Support
 * -------------------------------------------------------------------------- */

/**
 * Built-in classes:
 * .clearfix                            | contain floats
 * .element-invisible                   | hide element visually
 * .element-invisible.element-focusable | allow element to be focusable when navigated to via keyboard
 * .element-hidden                      | hide visually and from screenreaders
 */

/* clear floats */
.clear{clear:both}

/* display block */
.display-block{display:block}

/* skip link */
#skip-link{position:absolute}


/**
 * CSS3 gradient background
 * -------------------------------------------------------------------------- */

aside .block-gradient-bg,
.gradient-bg{
  background: #3c89c9; /** Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNjODljOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iIzVhOThjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iIzVhOThjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYzg5YzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #3c89c9 0%, #5a98cb 20%, #5a98cb 80%, #3c89c9 100%); /** FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c89c9), color-stop(20%,#5a98cb), color-stop(80%,#5a98cb), color-stop(100%,#3c89c9)); /** Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3c89c9 0%,#5a98cb 20%,#5a98cb 80%,#3c89c9 100%); /** Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3c89c9 0%,#5a98cb 20%,#5a98cb 80%,#3c89c9 100%); /** Opera 11.10+ */
  background: -ms-linear-gradient(top, #3c89c9 0%,#5a98cb 20%,#5a98cb 80%,#3c89c9 100%); /** IE10+ */
  background: linear-gradient(top, #3c89c9 0%,#5a98cb 20%,#5a98cb 80%,#3c89c9 100%); /** W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c89c9', endColorstr='#3c89c9',GradientType=0 ); /** IE6-8 */
}

h1#page-title{
  background: #cc761a; /** Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjNzYxYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iI2U3ODYxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2U3ODYxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYzc2MWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #cc761a 0%, #e7861d 30%, #e7861d 70%, #cc761a 100%); /** FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc761a), color-stop(30%,#e7861d), color-stop(70%,#e7861d), color-stop(100%,#cc761a)); /** Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cc761a 0%,#e7861d 30%,#e7861d 70%,#cc761a 100%); /** Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cc761a 0%,#e7861d 30%,#e7861d 70%,#cc761a 100%); /** Opera 11.10+ */
  background: -ms-linear-gradient(top, #cc761a 0%,#e7861d 30%,#e7861d 70%,#cc761a 100%); /** IE10+ */
  background: linear-gradient(top, #cc761a 0%,#e7861d 30%,#e7861d 70%,#cc761a 100%); /** W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc761a', endColorstr='#cc761a',GradientType=0 ); /** IE6-8 */
}


/** --------------------------------------------------------------------------
 * Contrib modules styling
 * ------------------------------------------------------------------------ */

/**
 * Nivo Slider style
 * ------------------------------------------------------------------------ */

.theme-default .nivoSlider{
  box-shadow:none;
  margin-bottom:0;
}


/**
 * Quicktabs
 * ------------------------------------------------------------------------ */

.block-quicktabs{
  padding:20px 0!important;
  border-radius:20px!important;
  background:#ccc!important;
}

.block-quicktabs h2.block-title{
  padding:0 20px;
  color:#666;
  font-size:1em;
}

ul.quicktabs-tabs{
  overflow:hidden;
}
.quicktabs-tabs li{
  float:left;
}
.quicktabs-tabs li a{
  float:left;
  color:#666;
  padding: 2px 5px;
}

.quicktabs-tabs li.active a {
  background: none repeat scroll 0 0 #3C89C9;
  border-radius: 5px 5px 0 0;
  color: #FFFFFF;
  float: left;
  padding: 2px 5px;
}